html, body {
	height:100%;
	width:100%;
}

.navbar {
	background-color:white;
	padding:10spx;
	font-size:1.2em;
}
.container
.navbar-brand {
	min-height: 55px;
	padding: 0;
}

.navbar-default .navbar-nav li a {
	color: black;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active {
	color:red;
}

.home {
	display:table;
	height:100%;
	width:100%;
	background-size:cover;
	z-index: 0;
	margin:auto;
	
}

#fire {
	height:auto;
	width:100%;
	z-index: -1;
}


#lobbyButton {
	position:absolute; 
	transition: .5s ease;
	top:95%;
	left:15%
}

.landing-text {
	position: absolute;
    top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	color: white;
}

.findLobby {
	position: relative;
	top: 50%;
	left: 50%;

}

.landing-text h1 {
	font-size:500%;
	font-weight:700;
}

.padding {
	padding: 80px 0;
}

.padding img {
	width:100%;
}

#fixed {
	background:url(../assets/img/logfire.jpg) no-repeat center center fixed;
	display:table;
	height:60%;
	position:relative;
	width:100%;
	background-size:cover;
}

footer {
	width:100%;
	background-color:#23415C;
}

.fa {
	padding:15px;
	font-size:25px;
	color: #FFF;
}

h8 {
	color:white;
}














