.container {
    height: 700px;
}

#chat-row {
    margin: 0px;
}

#message-history {
    overflow-y: auto;
    height: 30%;
}

#main-box {
    padding: 0;
}

#clear-messages {
    margin-top: 30%;
    margin-bottom: 30%;
    overflow-wrap: normal;
    padding-top: 20px;
    padding-bottom: 20px;
}

#video-row {
    margin: auto;
    width: 80%;
}

#form-group {
    margin: auto
}