.container{
    height: 700px;
}
#chat-row{
    height: 40%;
}
#message-history{
    height: 100px;
    overflow-y: auto;
    width: 800px;
}
#type-message{

}

#main-box{
    padding: 0;
}

#clear-messages{
    margin-top: 30%;
    margin-bottom: 30%;
    overflow-wrap: normal;
    padding-top: 20px;
    padding-bottom: 20px;
}

#video-row{
    margin: auto;
}

#chat-row > .row{

}

#form-group {
    margin: auto
}