.container{
    height: 700px;
}
#chat-row{
    height: 40%;
}
#message-history{
    height: 70%;
    overflow-y: scroll;
}
#type-message{
    height: 20%;
}
#chat-row > .row{
    border: 4px solid black;
}
